@import "node_modules/bourbon/app/assets/stylesheets/bourbon";

@import "variables/global";

@import "node_modules/lexicon-ux/src/scss/atlas";

@import "node_modules/metal-treeview/src/treeview";

.logo {
	margin-right: 10px;
	max-height: 40px;
}

.sidebar {
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.08);
	height: calc(100vh - 66px);

	.basic-search.input-group {
		max-width: 100%;
		padding: 0 12px;
	}
}

.list-content {
	margin-top: 20px;
}

.panel {
	padding-bottom: 20px;
	padding-top: 20px;
}